<!-- <p>
  mybookings works!
</p> -->

<div class="container">
  <div>
    <div *ngFor="let booking of currentBookings" class="card border-secondary mb-3 mx-auto" id="{{ booking.BookingID }}" style="max-width: 40rem;">
      <div class="card-header">Boardroom :: {{ booking.RoomName }}</div>
      <div class="card-body" style="text-align:center;">
        <p class="card-text">{{ booking.StartTime }} - {{ booking.EndTime }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-dark float-right" (click)="deleteBooking(booking.BookingID)">Delete</button>
      </div>
    </div>
  </div>
</div>
