<!-- <mat-card class="login-mat-card">
  <form (submit)='onSubmit()' [formGroup]="loginform" class="login-form">
    <mat-form-field>
      <input
        matInput
        name='username'
        type='text'
        formControlName='username'
        placeholder='bbdnet####'>
        <mat-error *ngIf="loginform.get('username').invalid">I am being an invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name='password'
        type='password'
        formControlName='password'
        placeholder='PASS'>
        <mat-error *ngIf="loginform.get('password').invalid">I am being an invalid</mat-error>
    </mat-form-field>
    <h3 *ngIf="loginform.invalid">Please enter all required fields</h3>
    <button
      *ngIf="loginform.valid"
      color="primary"
      mat-raised-button
      type="submit">Login</button>
  </form>
</mat-card> -->

<div class="container" style="max-width: 700px;">
  <h2 class="page-header">Login</h2>
  <form (submit)="onLoginSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn btn-dark" value="Login">
    <!-- <button type="button" class="btn btn-dark float-right" (click)="onForgotPassword()">Forgot Password</button> -->
  </form>
</div>
