<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Collab?id=0']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/Collab.jpeg">
        </div>
        <div class="card-footer">Collab</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/C#?roomid=1']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/CSharp.jpeg">
        </div>
        <div class="card-footer">C#</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/XML?roomid=2']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/XML.jpeg">
        </div>
        <div class="card-footer">XML</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Python?roomid=3']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/Python.jpeg">
        </div>
        <div class="card-footer">Python</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Assembly?roomid=4']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/Assembly.jpeg">
        </div>
        <div class="card-footer">Assembly</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Delphi?roomid=5']">
        <div class="card-body text-center">
          <img class="img-fluid" src="../../assets/Delphi.jpeg">
        </div>
        <div class="card-footer">Delphi</div>
      </div>
    </div>
  </div>
</div>