<!-- <p>
  listboardrooms works!
</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Collab?id=0']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">Collab</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/C#?roomid=1']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">C#</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/XAML?roomid=2']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">XAML</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Python?roomid=3']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">Python</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/Java?roomid=4']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">Java</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;" style="cursor: pointer;" [routerLink]="['/view-boardroom/C++?roomid=5']">
        <div class="card-body">
          <img class="img-fluid" src="../../assets/boardroom.jpg">
        </div>
        <div class="card-footer">C++</div>
      </div>
    </div>
  </div>
</div>